@layer fonts {

    /* montserrat-regular - latin */
    @font-face {
        font-display: swap;
        /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        src: url('./fonts/montserrat-v29-latin-regular.woff2') format('woff2');
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }

    /* montserrat-500 - latin */
    @font-face {
        font-display: swap;
        /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        src: url('./fonts/montserrat-v29-latin-500.woff2') format('woff2');
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }

    /* montserrat-600 - latin */
    @font-face {
        font-display: swap;
        /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        src: url('./fonts/montserrat-v29-latin-600.woff2') format('woff2');
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }

    /* montserrat-700 - latin */
    @font-face {
        font-display: swap;
        /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        src: url('./fonts/montserrat-v29-latin-700.woff2') format('woff2');
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }

    /* montserrat-800 - latin */
    @font-face {
        font-display: swap;
        /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 800;
        src: url('./fonts/montserrat-v29-latin-800.woff2') format('woff2');
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
}

@layer global {

    :root {
        /* colors */


        /* custom properties */

    }

    html {
        scroll-behavior: smooth;
    }

    *,
    *::after,
    *::before {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: 'Montserrat', sans-serif;
    }

    body {
        background-color: black;
        overflow-x: hidden;
    }

    .wrapper {

        display: grid;
        gap: 20px;
        grid-template-columns:
            1fr repeat(3, calc((100% - 48px - 40px)/3)) 1fr;

        @media(width >=calc(700/16*1rem)) {
            grid-template-columns:
                1fr repeat(6, calc((100% - 80px - 100px)/6)) 1fr;
        }

        @media(width >=calc(1200/16*1rem)) {
            gap: 30px;
            grid-template-columns:
                1fr repeat(12, calc((1110px - 330px)/12)) 1fr;
        }

        /* all the components will span the 100% width */

        >* {
            grid-column: 2/-2;
        }
    }

    .button {
        background-color: white;
        width: fit-content;
        border-radius: 50px;
        display: inline-flex;
        align-items: center;
        gap: 5px;
        padding: 6px;
        padding-right: 15px;
        color: black;
        text-decoration: none;
        /* font-weight: 600; */
        padding-right: 12px;
        font-size: 12px;
        box-shadow: 0 0 15px rgba(251, 119, 3, 0.745);

        @media(width>=calc(700/16*1rem)) {
            font-size: 14px;
        }
    }

    .button:hover {
        /* box-shadow: 0 0 20px #e203fb; */
    }

    .button-icon {
        width: 30px;
        height: 30px;
        background-color: black;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        rotate: 45deg;
    }

    .button.outline {
        background-color: transparent;
        box-shadow: none;
        color: white;

        .button-icon {
            background-color: #fff;
        }
    }

    .heading {
        display: flex;
        flex-direction: column;
        gap: 10px;
        color: white;
    }

    .subheading {
        background-color: #fb770383;
        box-shadow: 0 0 8px #fb7703;

        width: fit-content;
        padding: 4px 8px;
        text-transform: uppercase;
        font-size: 12px;
        border-radius: 100px;

    }

    .description {
        color: gray;
        font-size: 14px;

        @media(width>=calc(700/16*1rem)) {
            font-size: 16px;
        }
    }
}

@layer header {

    header {

        background-color: rgba(0, 0, 0, 0.494);
        backdrop-filter: blur(50px);
        padding-block-start: 20px;
        padding-block-end: 20px;
        position: fixed;
        width: 100%;
        z-index: 99;
        /* box-shadow: 0 0 15px rgba(251, 119, 3, 0.204); */
        /* position: relative; */

        /* header logo */
        .logo {
            /* text-align: center; */
            text-decoration: none;
            color: white;
            font-weight: 700;
            grid-column: 2;
            text-transform: uppercase;
            position: relative;
            display: block;
            letter-spacing: 5px;
            line-height: 24px;
            z-index: 0;
            margin-left: 4px;

            span {
                letter-spacing: 2px;
            }

            @media(width>=calc(700/16*1rem)) {
                grid-column: 2/4;
                grid-row: 1/2;
            }

            @media(width>=calc(1200/16*1rem)) {
                grid-column: 2/4;
                grid-row: 1/2;
            }
        }

        .logo::after {
            content: '';
            position: absolute;
            top: -2px;
            left: -4px;
            width: 37px;
            height: 24px;
            border-radius: 3px;
            background-color: #fb7703;
            z-index: -1;
        }

        /* header logo ends here*/

        /* navigation menu  */
        .nav-menu {
            display: none;
            position: absolute;
            top: 95px;
            background-color: black;
            right: 0px;
            left: 0;
            padding: 30px;
            grid-column: 2/-2;
            border-radius: 10px;
            box-shadow: 0 0 15px rgba(251, 119, 3, 0.514);
            width: 100%;

            ul {
                list-style: none;
                display: flex;
                flex-direction: column;
                gap: 10px;

                a {
                    text-decoration: none;
                    color: white;
                    position: relative;

                    &::after {
                        content: '';
                        background-color: rgb(251, 119, 3);
                        position: absolute;
                        top: 50%;
                        right: -20px;
                        height: 5px;
                        width: 5px;
                        border-radius: 10px;
                        transition: width 250ms ease-in-out;

                        @media(width>=calc(1200/16*1rem)) {
                            right: 50%;
                            top: 25px;
                            width: 0px;
                        }
                    }

                    &:hover::after {
                        width: 15px;
                    }
                }

                @media(width>=calc(1200/16*1rem)) {
                    display: flex;
                    flex-direction: row;
                    gap: 20px;
                    justify-content: center;
                }
            }

            /* @media(width>=calc(700/16*1rem)) {
                grid-column: 2/4;
                grid-row: 1/2;
            } */

            @media(width>=calc(1200/16*1rem)) {
                display: block;
                position: unset;
                background-color: transparent;
                box-shadow: unset;
                grid-column: 4/12;
                grid-row: 1/2;
                padding: unset;
                justify-self: center;
                align-self: center;
            }
        }

        /* navigation menu  ends here*/

        /* menu icon */
        .menu {
            padding: 6px;
            border-radius: 100px;
            box-shadow: 0 0 15px rgba(251, 119, 3, 0.811);
            width: fit-content;
            grid-column: 3/-2;
            grid-row: 1;
            justify-self: end;
            background-color: #fff;
            align-self: center;
            height: fit-content;

            @media(width>=calc(1200/16*1rem)) {
                display: none;
            }
        }

        .menu:hover {
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.286);
        }

        .menu-icon {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: black;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        /* menu icon ends here */

        /* header button */
        .button {
            grid-column: 3/-2;
            grid-row: 1;
            /* align-self: self-end; */
            justify-self: end;
            margin-right: 52px;
            align-self: center;
            height: fit-content;

            @media(width>=calc(1200/16*1rem)) {
                grid-column: 12/-2;
                margin-right: unset;
            }
        }

        /* header button ends here*/
    }

    header.mobile {

        .nav-menu {
            display: block;
        }
    }

}

@layer hero {

    .hero {
        padding-block-start: 150px;
        padding-block-end: 150px;
        /* min-height: 100vh; */
        align-items: center;
        position: relative;
        row-gap: 80px;
        width: 100vw;
        overflow: hidden;

        @media(width>=calc(700/16*1rem)) {
            padding-block-start: 200px;
            padding-block-end: 250px;
        }

        @media(width>=calc(1200/16*1rem)) {
            height: 100vh;
            padding-block-start: 250px;
        }
    }

    .hero__image-container {
        grid-column: 2/-2;
        grid-row: 2;
        display: flex;
        justify-content: center;
        position: relative;

        /* TEMP MAYBE */
        flex-direction: column;
        align-items: center;
        gap: 20px;

        @media(width>=calc(700/16*1rem)) {
            grid-column: 5/-2;
            grid-row: 1;
        }

        @media(width>=calc(1200/16*1rem)) {
            grid-column: 9/-2;
            grid-row: 1;
        }
    }

    .hero__text-container {

        /* TEMP */
        color: white;

        /* permanent styles */
        grid-column: 2/-2;
        grid-row: 1;
        display: flex;
        align-items: start;
        flex-direction: column;
        gap: 20px;

        .hero__tag {
            flex-direction: row;
            box-shadow: unset;
            padding: unset;
            margin-bottom: -15px;
        }

        @media(width>=calc(700/16*1rem)) {
            grid-column: 2/5;
            grid-row: 1;
        }

        @media(width>=calc(1200/16*1rem)) {
            grid-column: 2/8;
            grid-row: 1;
        }

    }

    .hero__heading {


        span {
            color: #fb7703;
            font-size: 28px;

            @media(width>=calc(1200/16*1rem)) {
                font-size: 38px;
            }
        }

        @media(width>=calc(1200/16*1rem)) {
            font-size: 32px;
        }
    }

    .hero__image {
        width: 300px;
        height: 300px;
        object-fit: cover;
        border-radius: 50%;
        box-shadow: 0 0 15px rgba(251, 119, 3, 0.811);
        border: 4px solid #fb7703;
        transition: transform 500ms ease-in-out;

        &:hover {
            transform: scale(1.1);
            /* cursor: pointer; */
        }

    }

    .hero-buttons {
        display: flex;
        gap: 15px;
    }

    a.hero__button {

        background-color: #fb7703;
        color: white;

        .button-icon {
            width: 50px;
            height: 50px;
            background-color: #fff;
        }
    }



    /* DECOR */

    .hero__decor-1 {
        position: absolute;

        width: 600px;
        height: 600px;
        background-color: #fb77032a;
        filter: blur(80px);
        border-radius: 50%;

        top: -60%;
        left: -60%;

        @media(width>=calc(700/16*1rem)) {
            top: -40%;
            left: -40%;
        }

        @media(width>=calc(1200/16*1rem)) {
            top: -30%;
            left: -30%;
        }
    }

    .hero__heading-decor {
        color: #fb77031a;
        font-size: clamp(3.125rem, -0.6579rem + 17.5439vw, 12.5rem);
        position: absolute;
        bottom: -10px;
        line-height: 1;
        width: 100%;
        text-align: center;
        font-weight: 900;

        @media(width>=calc(700/16*1rem)) {
            bottom: -20px;
        }

        @media(width>=calc(1200/16*1rem)) {

            font-size: 68px;
            text-align: left;
            /* margin-top: -30px; */
            bottom: -10px;
        }
    }

    .hero__tag {
        color: #fb7703;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: black;
        padding: 5px 5px;
        /* box-shadow: 0 0 15px #fb7703; */
        box-shadow: 0 0 8px #e203fbcf;
        /* box-shadow: 0 0 15px rgba(251, 119, 3, 0.811); */
        border-radius: 10px;
        gap: 5px;

        p {
            font-size: 12px;

            /* @media(width>=calc(700/16*1rem)) {
                flex-direction: row;
                padding: 3px 5px;
            } */
        }

        @media(width>=calc(700/16*1rem)) {
            flex-direction: row;
            padding: 3px 5px;
        }

        @media(width>=calc(700/16*1rem)) {}
    }

    .tag-1 {
        position: absolute;
        right: 40px;
        top: 0;

        animation: moveTagsUp 1000ms infinite;
        animation: moveTagsUp 1s ease-in-out infinite alternate;
    }

    .tag-2 {
        position: absolute;
        left: 40px;
        top: 0;
        animation: moveTagsUp 1s ease-in-out infinite alternate;
    }

    .tag-3 {
        position: absolute;
        right: 40px;
        bottom: 0;
        animation: moveTagsDowbottom 1s ease-in-out infinite alternate;
    }

    .tag-4 {
        position: absolute;
        left: 40px;
        bottom: 0;
        animation: moveTagsDowbottom 1s ease-in-out infinite alternate;
    }

}

@layer technologies {

    .technologies {
        background-color: #fb77031a;
        padding-block: 50px;

        @media(width>=calc(1200/16*1rem)) {
            padding-block: 100px;
        }
    }

    .technologies__heading {
        grid-column: 2/-2;
        color: white;
        margin-block-end: 20px;
    }

    .technologies__flex-container {
        grid-column: 2/-2;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        /* justify-content: center; */
        border-left: 2px solid #fb7703;

        padding-block: 10px;
        padding-left: 20px;

        @media(width>=calc(700/16*1rem)) {
            padding-left: 20px;
            gap: 20px;
        }

        @media(width>=calc(1200/16*1rem)) {
            border-width: 4px;
        }
    }

    .technologies__technology {
        box-shadow: 0 0 8px rgba(251, 119, 3, 0.213);
        padding: 20px;
        border-radius: 10px;
        width: 45%;
        position: relative;
        z-index: 10;
        display: flex;
        align-items: center;
        gap: 10px;

        @media(width>=calc(700/16*1rem)) {
            max-width: 200px;
        }
    }

    .technologies__technology::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: #fb7703;
        border-radius: 10px;
        z-index: -1;
        transition: width 1s ease-in-out;
    }

    .technologies__technology:hover::after {
        /* animation: hoverTech .5s ease-in-out alternate; */
        width: 100%;
    }


    .technologies__icon {
        width: 40px;
        height: 40px;
        fill: white;
    }

    .technologies__name {
        color: white;
    }
}

@layer story {
    .story {
        padding-block: 50px;
        position: relative;

        @media(width>=calc(1200/16*1rem)) {
            padding-block: 100px;
        }
    }

    .socials {

        .socials-links {
            /* box-shadow: 0 0 8px #fb7703; */
            width: fit-content;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            /* padding: 5px; */
            padding-block-start: 10px;
            padding-block-end: 5px;
            padding-inline-start: 10px;
            padding-inline-end: 10px;
            display: flex;
            /* flex-direction: column; */
            gap: 10px;
        }

        .social-link svg {
            width: 30px;
            height: 30px;
            fill: white;
        }

        .social-link svg:hover {
            fill: #fb7703;
        }
    }

    .story__socials {
        background-color: #fb77031a;
        position: absolute;
        top: 0;
        right: 0;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;

        @media(width>=calc(700/16*1rem)) {
            /* grid-row: 1/2; */
        }
    }

    .story__text {
        grid-column: 2/-2;
        grid-row: 1/2;
        display: flex;
        flex-direction: column;
        color: white;
        gap: 20px;

        @media(width>=calc(700/16*1rem)) {
            grid-column: 5/-2;
            align-self: center;
        }

        @media(width>=calc(1200/16*1rem)) {
            grid-column: 8/-2;
        }
    }

    .story .button {
        margin-block-start: 10px;
    }

    .story__image {
        grid-column: 2/-2;
        justify-self: center;
        width: 300px;
        height: 300px;
        /* padding: 20px; */
        background-color: #fb7703;
        /* border: 3px solid #e203fbcf; */
        box-shadow: 0 0 15px #fb7703d7;
        border-radius: 50%;
        grid-row: 2/3;
        margin-block-start: 20px;
        /* transform: scaleX(-1); */

        @media(width>=calc(700/16*1rem)) {
            margin-block-start: unset;
            justify-self: center;
            transform: scaleX(-1);
            grid-column: 2/5;
            grid-row: 1/2;
        }

        @media(width>=calc(1200/16*1rem)) {
            grid-column: 3/8;
        }
    }
}

@layer projects {

    .projects {
        background-color: #fb77031a;
        padding-block: 50px;
    }

    .projects-container {
        display: grid;
        gap: 20px;

        @media(width >=calc(700/16*1rem)) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .project {
        box-shadow: 0 0 8px rgba(251, 119, 3, 0.213);
        border-radius: 10px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        width: 100%;

        gap: 10px;
        transition: background-color .5s;

        @media(width >=calc(700/16*1rem)) {
            /* max-width: 350px; */
        }
    }

    .project:hover {
        background-color: #fb7703;
    }

    .project img {
        width: 100%;
        border-radius: 10px;
        height: auto;
        object-fit: cover;
        cursor: pointer;
        object-position: top;
    }

    .stacks {
        display: flex;
        gap: 8px;
        padding-block-end: 10px;
        border-bottom: 2px solid rgba(251, 119, 3, 0.074);
    }

    .project:hover .stacks {
        border-color: rgba(0, 0, 0, 0.09);
    }

    .stack {
        background-color: #fff;
        padding: 2px 8px;
        border-radius: 20px;
        font-size: 12px;
    }

    .stack.css {
        background-color: #1066DC;
        color: white;
    }

    .stack.html {
        background-color: #DD4F39;
        color: white;
    }

    .stack.js {
        background-color: #f7e15a;
        color: black;
    }

    .project-buttons {
        padding-block: 10px;
        display: flex;
        gap: 10px;
    }

    .project-buttons .button {
        background-color: unset;
        box-shadow: unset;
        color: white;
        border: 2px solid white;
    }

    .project-buttons .button:hover {
        background-color: white;
        color: black;
    }

    .project-buttons .button .button-icon {
        background-color: unset;
    }

    .project-buttons .button:hover .button-icon {
        background-color: black;
    }


    .project-buttons svg {
        width: 20px;
    }


    /* trying the scrolling on hover effect */

    .image-wrapper {
        /* background-color: wheat; */
        height: 250px;
        overflow: hidden;
        border-radius: 10px;
    }

    .image {
        height: 250px;
        border-radius: unset;
        transition: transform 5s ease;
        /* scroll-behavior: smooth; */
    }

}




/* animations */

@layer animations {
    @keyframes moveTagsUp {
        0% {
            top: -10px;
        }

        100% {
            top: 0;
        }
    }

    @keyframes moveTagsDowbottom {
        0% {
            bottom: -10px;
        }

        100% {
            bottom: 0;
        }
    }

    @keyframes hoverTech {
        0% {
            width: 0;
        }

        100% {
            width: 100%;
        }
    }
}